{% extends "_layouts/cp" %}

{% set title = 'Appleseed Settings' %}
{% set selectedSubnavItem = 'settings' %}

{% block content %}

<form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('appleseed/settings/save') }}
    {{ redirectInput('appleseed/settings') }}

    {% include 'appleseed/settings/_fields' with { settings: settings } %}

    <div class="btngroup">
        <input type="submit" class="btn submit" value="Save">
    </div>
</form>

{% endblock %}
